body{
    font-family: "Poppins",sans-serif;
}
.bg{
    width:100%;
    height: 520px;
    background: url(images/course.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;
  padding: 30px 40px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  width: 100%;
}
.hero-content p
  {
  margin: 0;
  line-height: 1.2;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

.content{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(46, 46, 129);
    margin-top: 30px;
}
.course-card {
    width: 300px;
    height: 280px;
    display: block;
    text-decoration: none;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
    margin-left: 16%;
    margin-top: 40px;
    background:linear-gradient(135deg, #f2f2f2, #d6d6d6);
    margin-bottom: 60px;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.course-content {
    padding: 15px;
    text-align: center;
}

.free {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.course-content h3 {
    margin: 5px 0;
}

.desc {
    font-size: 20px;
    color: #555;
    margin-top: 10px;
}

.course-footer {
    text-align: center;
    margin-top: 10px;
    

}

.course-footer button {
    background-color: rgb(46, 46, 129);
    border: none;
    padding: 12px 12px;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Poppins",sans-serif;
    color: white;
    font-size: 15px;
}



