body{
        font-family: "Poppins", sans-serif;
}
#footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 46, 129);
    margin: 4px;
}
#footer h2,
#footer h3,
#footer p,
#footer a {
  margin: 4px;
  padding: 4px;
}

.footer-top{
    display: flex;
    justify-content: space-around;
    padding: 10px 40px;
    flex-wrap: wrap;
}
.footer-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-col h3{
    margin-bottom: 30px;
    font-size: 28px;
    color: wheat;
}
.footer-col p{
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
} 
.footer-col a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 1px;
}
.footer-col a:hover{
    color: gold;
}
.footer-col-brand{
    display: flex;
    flex-direction: column;
}
.brand-name{
    font-size: 28px;
    font-weight: bold;
    color: white;
}
.tagline{
    font-size: 25px;
  line-height: 1.5;
}
.curiosity{
    color: gold;
}
.icons{
    margin-left: 18%;
    gap: 12px;
    margin-top: 15px;
}
.icons img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    
}
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.3);
  padding: 20px 80px;
}
.footer-bottom p{
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-size: 24px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-links a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.footer-links a:hover{
    color: gold;
}
